# Port d'écoute local sur la machine hôte (Raspberry Pi 5)
# Choisi par défaut à 8085 pour ne pas entrer en conflit avec le port 80 de Pi-hole ou de Nginx
PORT=8085

# Politique de redémarrage (always, unless-stopped)
RESTART_POLICY=unless-stopped
